{% extends 'core/base.html' %}

{% block title %} Página de Horario {% endblock %}
{% block head %}
<link rel="stylesheet" href="static\core\css\horario1.css" />
{% endblock %}

{% block menu %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'index' %}">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'map_view' %}">Rutas Actuales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'schedule_view' %}">Horarios</a>
</li>
{% endblock %}

{% block content %}

<div id="description">
    <p>
        Explora la red integrada de transporte público de Santiago de Chile con Red Metropolitana de Movilidad.
        Nuestra plataforma te permite visualizar las rutas disponibles y los horarios precisos para cada día de la semana,
        incluyendo fines de semana y feriados. Con nuestra herramienta interactiva,
        puedes filtrar fácilmente por las distintas rutas, asegurándote de encontrar los horarios que se ajusten a tus necesidades.
        <br> <br>
        Únete a nosotros en Red Metropolitana de Movilidad y simplifica tu día a día con una plataforma que te proporciona
        acceso rápido y preciso a todos los horarios de transporte público en Santiago.
    </p>
</div>
<div id="rutas">
    <div>
        <h1>Horarios de Rutas</h1>
    </div>
    <form id="select" method="get" action="{% url 'schedule_view' %}">
        <select id="codsint" name="codsint" class="form-select form-select-sm" aria-label="Small select example">
            <option selected>Selecciona una Ruta</option>
            {% for codsint in codsint_choices %}
                <option value="{{ codsint }}" {% if codsint == codsint_filter %}selected{% endif %}>{{ codsint }}</option>
            {% endfor %}
          </select>
        <button type="submit">Filtrar</button>
    </form>
</div>
<div class="container table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>CódSint</th>
                <th>Tipo de Día</th>
                <th>Hora de Inicio</th>
                <th>Hora de Fin</th>
            </tr>
        </thead>
        <tbody>
            {% for horario in horarios %}
            <tr>
                <td>{{ horario.codsint }}</td>
                <td>{{ horario.tipo_dia }}</td>
                <td>{{ horario.inicio }}</td>
                <td>{{ horario.fin }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock %}

    

