
#contenedor-1{
    background-color: #212529;
    width: 100%;
    padding: 5% 20% 5% 20%;
    color: white;
}

#contenedor-2 h1{
    padding: 0% 0% 2% 0%;
    
}

p{
    padding: 2% 0% 2% 0%;
}

.col{
    background-color: #21252900;
}

.card{
    background-color: #21252900;
    border-radius: 0 ;
    border: 0;
    padding: 1% 5% 1% 5%;
}


#link-card{
    background-color: #C8102E;
    border: 10% ;
    height: 100%;
    border-radius: 5%;
    text-decoration: none;
    text-decoration: none !important; /* Quitar el subrayado */
    color: white !important; /* Heredar el color del texto normal */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-title, .card-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#icon{
    margin: 5%;
    width: 60px !important;
}

p{
    text-align: justify;
}