#description{
    color: white;
    padding: 3% 10% 0% 10%;
    background-color: #212529;
    display: flex !important;
    justify-content: flex-start !important;
    text-align: justify;
 }

#rutas{
    padding: 0% 10% 0% 10%;
    color: white;
    background-color: #212529;
    display: flex !important;
    justify-content: flex-start !important;
}

#select{
    width: 25%;
    display: flex !important;
    justify-content: center !important;
    padding: 1%;
}

